<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center><h1>this is the list of unknows</h1></center>   
<div id=here></div>


    {%for item in files%}
    <p>{{item[1]}}</p>
    <img src="../static/unknowns/{{item[0]}}"id="here" weight=150px height=150px id="heere">
    {% endfor %}

</body>
</html>